
#myInput {
    display: none;
}

canvas {
    border: 1px solid #000000;
}

h2 {
    color:grey;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 30px;
}

header {
    background-color: grey;
}

.contenedor {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}

section, aside {
    margin-left: 30px;
}

.masFiltros, .filtrosColores {
    margin-top: 10px;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(119, 115, 115);
    font-size: smaller;
    text-align: center;
    margin-top: 20px;
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 10px;
    border-color: rgb(201, 194, 192);
}

#btnRed {
    background-color: rgb(255, 0, 0);
    height: 25px;
    color: rgb(255, 0, 0);
}

#btnGreen {
    background-color: rgb(0, 255, 0);
    height: 25px;
    color: rgb(0, 255, 0);
}

#btnBlue {
    background-color: rgb(0, 0, 255);
    height: 25px;
    color: rgb(0, 0, 255);
}