
nav {
    font-family: Arial, Helvetica, sans-serif;
	margin-right: 20px;
    margin-bottom: 7px;
}

nav li {
	display: inline;
	padding: 5px;
	margin: 0 10px 0 0;
}

nav ul {
    list-style-type: none;
    text-align: right;
}

nav li a {
    color: white;
    font-size: 22px;
    text-decoration: none;
}

/* nav li a.active {
    color: #c20000;
} */

nav li a:hover {
    color: yellow;
/* 	animation: borde 0.1s ease-in; */
}

header {
    background-color: black;
    height: 100px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#countdown {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#conteiner {
    height: 1745px;
    width: 1000px;
}

footer {
    background-color: black;
    height: 80px;
    width: 1000px;
}

#layer1 {
    background-image: url("../imagenes/fondo1.png"); 
	position: absolute;
	background-repeat: no-repeat;
    width: 1000px;
    height: 1750px;
    animation: swipeBack 160s linear infinite;
	background-size: cover;
}

#layer2 {
    background-image: url("../imagenes/fondo2.png");
	position: absolute;
	background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    animation: swipeStars 80s linear infinite;
}

#layer3 {
    background-image: url("../imagenes/StarWars_logo.png");
    position: relative;
    left: 180px;
    bottom: -150px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    animation: agrandar 20s linear infinite;

}


@keyframes agrandar {
    0% {transform:scale(0.75, 0.75);}
    100% {transform:scale(1, 1);}
}

@keyframes swipeStars {
    0% { background-position: 0px;}  
    100% { background-position: -500px;}
}

@keyframes swipeBack {
    0% { background-position: 0px;}  
    100% { background-position: -500px;}
}


.card {
    position: relative;
    margin: auto;
  }

.card img {
    position: absolute;
    transition: all ease 1250ms;
}
.capa1 {
    left: 4px;
    top: 225px;
}

.capa2 {
    left: 7px;
    top: 235px;
}

.card:hover .capa0 {
transform: perspective(2000px) rotateX(0deg) rotateY(30deg) rotateZ(0deg) translateX(-30px) translateY(0px) translateZ(0px);
}

.card:hover .capa1 {
transform: perspective(2000px) rotateX(0deg) rotateY(30deg) rotateZ(0deg) translateX(-30px) translateY(0px) translateZ(40px);
opacity: .8;
}

.card:hover .capa2 {
transform: perspective(2000px) rotateX(0deg) rotateY(30deg) rotateZ(0deg) translateX(-30px) translateY(0px) translateZ(80px);
}

.grilla {
    height: 300px;
    width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#back-characters {
    background-image: url("../imagenes/darth-vader-back.png"); 
	position: relative;
	background-repeat: no-repeat;
    width: 1000px;
    height: 800px;
    animation: swipeBack 100s linear infinite;
}

#back-carrusel {
    background-image: url("../imagenes/back-carrusel.png"); 
	position: relative;
	background-repeat: no-repeat;
    width: 1000px;
    height: 800px;
    animation: swipeBack 100s linear infinite;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

@keyframes swipeBack {
    0% { background-position: 0px;}  
    100% { background-position: -500px;}
}


  
.slider {
width: 500px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
overflow: hidden;
}

.slides {
display: flex;
overflow-x: auto;
overflow-y: hidden;
scroll-snap-type: x mandatory;
scroll-behavior: smooth;
-webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
width: 10px;
height: 10px;
}

.slides::-webkit-scrollbar-thumb {
background: red;
border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
background: transparent;
}

.slides > div {
scroll-snap-align: start;
flex-shrink: 0;
width: 500px;
height: 400px;
margin-right: 50px;
border-radius: 10px;
background: #eee;
transform-origin: center center;
transform: scale(1);
transition: transform 0.5s;
position: relative;  
display: flex;
justify-content: center;
align-items: center;
/* font-size: 100px; */
}

/* .author-info {
background: rgba(0, 0, 0, 0.75);
color: white;
padding: 0.75rem;
text-align: center;
position: absolute;
bottom: 0;
left: 0;
width: 100%;
margin: 0;
}

.author-info a {
color: white;
} */

.slider > a {
display: inline-flex;
width: 1.5rem;
height: 1.5rem;
background: white;
text-decoration: none;
align-items: center;
justify-content: center;
border-radius: 50%;
margin: 0 0 0.5rem 0;
position: relative;
}

/* .slider > a:active {
top: 1px;
} */

.slider > a:focus {
background: #000;
}

@supports (scroll-snap-type) {
.slider > a {
    display: none;
    }
}